<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="home()">MyPage</a>
    </div>

    <ul class="nav navbar-nav">
      <li *ngFor="let subModule of subModules"
          (click)="select(subModule)"
          [ngClass]="{active: isActive(subModule)}">
        <a>{{subModule.name}}</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <p class="navbar-text" [hidden]="!app.authenticated">
        Signed in as <a href="#/" class="navbar-link">{{app.user.name}}</a>
      </p>
      <li><a (click)="logout()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="text-center">
  <p class="lead" *ngIf="app.loading">Loading...</p>
</div>
<div class="container" *ngIf="!app.loading">
  <main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>
