<div class="container" [hidden]="!authenticated">
  <a href="/ui/" class="btn btn-primary">UI</a>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/ui/">UI</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="login()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a (click)="logout()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      <li><a (click)="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


<div class="container" [hidden]="authenticated">
  <form (submit)="login()" role="form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" class="form-control" [ngModel]="credentials.username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" name="password" id="password" class="form-control" [ngModel]="credentials.password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
